/********** Template CSS **********/
:root {
  --primary: #061742;
  --secondary: #183f78;
  --secondary-2: #183e7880;
  --light: #f3f4f9;
  --dark: #061742;
  --border: #06174252;
}

.py-6 {
  padding-top: 5rem;
  padding-bottom: 5rem;
}

.my-6 {
  margin-top: 5rem;
  margin-bottom: 5rem;
}

.back-to-top {
  position: fixed;
  display: none;
  right: 30px;
  bottom: 30px;
  z-index: 99;
}

/*** Spinner ***/
#spinner {
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.5s ease-out, visibility 0s linear 0.5s;
  z-index: 99999;
}

#spinner.show {
  transition: opacity 0.5s ease-out, visibility 0s linear 0s;
  visibility: visible;
  opacity: 1;
}

/*** Button ***/
.btn {
  font-weight: 500;
  transition: 0.5s;
}

.btn.btn-primary,
.btn.btn-outline-primary:hover {
  color: #ffffff;
}

.btn-square {
  width: 38px;
  height: 38px;
}

.btn-sm-square {
  width: 32px;
  height: 32px;
}

.btn-lg-square {
  width: 48px;
  height: 48px;
}

.btn-square,
.btn-sm-square,
.btn-lg-square {
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: normal;
}

/*** Navbar ***/
.navbar.sticky-top {
  top: -100px;
  transition: 0.5s;
}

.navbar .navbar-brand,
.navbar a.btn {
  height: 80px;
}

.navbar .navbar-nav .nav-link {
  margin-right: 30px;
  padding: 25px 0;
  color: var(--dark);
  font-weight: 500;
  text-transform: uppercase;
  outline: none;
}

.navbar .navbar-nav .nav-link:hover,
.navbar .navbar-nav .nav-link.active {
  color: var(--primary);
}

.navbar .dropdown-toggle::after {
  border: none;
  content: "\f107";
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  vertical-align: middle;
  margin-left: 8px;
}

@media (max-width: 991.98px) {
  .navbar .navbar-nav .nav-link {
    margin-right: 0;
    padding: 10px 0;
  }

  .navbar .navbar-nav {
    border-top: 1px solid #eeeeee;
  }
}

@media (min-width: 992px) {
  .navbar .nav-item .dropdown-menu {
    display: block;
    border: none;
    margin-top: 0;
    top: 150%;
    opacity: 0;
    visibility: hidden;
    transition: 0.5s;
  }

  .navbar .nav-item:hover .dropdown-menu {
    top: 100%;
    visibility: visible;
    transition: 0.5s;
    opacity: 1;
  }
}

/*** Header ***/
.carousel-caption {
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  background: rgba(0, 0, 0, 0.75);
  z-index: 1;
}

.carousel-control-prev,
.carousel-control-next {
  width: 15%;
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
  width: 3rem;
  height: 3rem;
  background-color: var(--primary);
  border: 10px solid var(--primary);
}

@media (max-width: 768px) {
  #header-carousel .carousel-item {
    position: relative;
    min-height: 450px;
  }

  #header-carousel .carousel-item img {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

.page-header {
  background: linear-gradient(rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0.75)), url(../img/carousel-1.jpg) center center no-repeat;
  background-size: cover;
}

.breadcrumb-item + .breadcrumb-item::before {
  color: #999999;
}

/*** Facts ***/
@media (min-width: 991.98px) {
  .facts {
    position: relative;
    margin-top: -75px;
    z-index: 1;
  }
}

/*** Courses ***/
.courses {
  min-height: 100vh;
  background: linear-gradient(rgba(255, 255, 255, 0.9), rgba(255, 255, 255, 0.9)), url(../img/carousel-1.jpg) center center no-repeat;
  background-attachment: fixed;
  background-size: cover;
}

.courses-item .courses-overlay {
  position: absolute;
  width: 100%;
  height: 0;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  background: rgba(0, 0, 0, 0.5);
  overflow: hidden;
  opacity: 0;
  transition: 0.5s;
}

.courses-item:hover .courses-overlay {
  height: 100%;
  opacity: 1;
}

/*** Team ***/
.team-items {
  margin: -0.75rem;
}

.team-item {
  padding: 0.75rem;
}

.team-item::after {
  position: absolute;
  content: "";
  width: 100%;
  height: 0;
  top: 0;
  left: 0;
  background: #ffffff;
  transition: 0.5s;
  z-index: -1;
}

.team-item:hover::after {
  height: 100%;
  background: var(--primary);
}

.team-item .team-social {
  position: absolute;
  width: 100%;
  height: 0;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  background: rgba(0, 0, 0, 0.75);
  overflow: hidden;
  opacity: 0;
  transition: 0.5s;
}

.team-item:hover .team-social {
  height: 100%;
  opacity: 1;
}

/*** Testimonial ***/
.testimonial-carousel .owl-dots {
  height: 40px;
  margin-top: 25px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.testimonial-carousel .owl-dot {
  position: relative;
  display: inline-block;
  margin: 0 5px;
  width: 20px;
  height: 20px;
  background: transparent;
  border: 2px solid var(--primary);
  transition: 0.5s;
}

.testimonial-carousel .owl-dot.active {
  width: 40px;
  height: 40px;
  background: var(--primary);
}

.testimonial-carousel .owl-item img {
  width: 150px;
  height: 150px;
}

/*** Footer ***/
.footer .btn.btn-link {
  display: block;
  margin-bottom: 5px;
  padding: 0;
  text-align: left;
  color: var(--light);
  font-weight: normal;
  text-transform: capitalize;
  transition: 0.3s;
}

.footer .btn.btn-link::before {
  position: relative;
  content: "\f105";
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  color: var(--light);
  margin-right: 10px;
}

.footer .btn.btn-link:hover {
  color: var(--primary);
  letter-spacing: 1px;
  box-shadow: none;
  font-weight: 600;
}

.copyright {
  background: var(--secondary);
  /* border-top: 1px solid var(--light); */
}

.copyright a {
  color: var(--primary);
  font-weight: bold;
  text-shadow: 1px 1px 5px #ffffff8c;
}

.copyright a:hover {
  color: var(--light);
}

.offcanvas-end {
  width: 700px !important;
}

.bg-dark {
  background-color: var(--secondary) !important;
}

.btn-primary {
  background-color: #061742;
  border-color: #061742;
}

.btn-primary:hover {
  background-color: var(--secondary);
  border-color: var(--secondary);
}

.bg-primary {
  background-color: var(--primary) !important;
}

.offcanvas-end {
  background: var(--primary);
}

.nav-link {
  color: var(--light);
}
.offcanvas-title {
  color: var(--light);
}

.nav-link:hover,
.nav-link:focus {
  color: var(--secondary);
  font-weight: 600;
}

.offcanvas-header {
  border-bottom: 1px solid var(--secondary);
}

.btn-close:focus {
  box-shadow: none;
}

.card-img-top {
  padding: 1rem;
}

.card-btn {
  border-color: #0617422e;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  border-radius: 7px;
}

.bg--light {
  background-color: #f3f4f9;
}

.study-research {
  min-height: 100vh;
  background: linear-gradient(rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.9)), url(../img/nsu2.jpg) center center no-repeat;
  background-attachment: fixed;
  background-size: cover;
}

.line-through {
  display: flex;
  text-align: center;
}

.line-through::before,
.line-through::after {
  content: "";
  flex: 1;
  align-self: center;
  border-bottom: 1px solid var(--primary);
}

.line-through::before {
  margin-right: 20px;
}

.line-through::after {
  margin-left: 20px;
}

.rounded-7 {
  border-radius: 7px;
}

.btn-check:focus + .btn-outline-primary,
.btn-outline-primary:focus {
  box-shadow: 0 0 0 0.25rem rgb(6 23 66 / 26%);
}

.partner {
  border-right: 1px solid var(--secondary-2);
}

.divider {
  width: 80%;
  height: 1px;
  background-color: #ababaf;
}

.footer-title {
  border-bottom: 1px solid #f3f4f940;
  padding-bottom: 1rem;
}

@media (max-width: 575px) {
  .logo-name {
    display: none;
  }

  .py-6 {
    padding-top: 3rem;
    padding-bottom: 3rem;
  }

  .py-3 {
    padding-top: 0.5rem !important;
    padding-bottom: 0.5rem !important;
  }

  .mb-5 {
    margin-bottom: 2rem !important;
  }
}

@media (min-width: 576px) and (max-width: 767px) {
  .py-6 {
    padding-top: 4rem;
    padding-bottom: 4rem;
  }
}

/* For large devices (lg and up) */
@media (min-width: 768px) and (max-width: 991px) {
  .py-6 {
    padding-top: 5rem;
    padding-bottom: 5rem;
  }
}
